main {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    
    min-height: 100vh;
}

.carousel {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.carousel:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    
    transition: opacity .5s ease, filter .5s ease 1s;
}

.background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: transform .8s;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5%;
}

.information {
    width: 550px;
    max-width: fit-content;
    margin: auto 0px;

    display: grid;
    gap: 30px;
}

.logo {
    max-width: 350px;
	filter: invert(1);
}

.paragraph {
    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.contain-button-play {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}


.button-play {
    border: none;
    border-radius: 3px;
    padding: 10px 40px;

    background-color: #1d8346;
    color: white;
    font-size: 19px;
    font-weight: 500;

    text-shadow: 0px 0px 5px #000000af;
    box-shadow: 0px 5px 0px #0e572b;
    cursor: pointer;
}

.button-play:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.buttons-carousel {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 30px 0px;
}

.button {
    width: 16px;
    height: 16px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

    box-shadow: 0px 0px 5px #000000;
    cursor: pointer;
}

.button:hover {
    background-color: #1d8346;
    border-color: #fff;
}

.selected {
    background: #1d8346;
    border: 2px solid white;
}

.menu-side {
    display: grid;    
    align-items: center;
    padding: 0px 30px 0px 0px;
}

.icon {
    width: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    filter: invert(1);
}

.toggle, .infinity {
    filter: invert(43%) sepia(9%) saturate(3679%) hue-rotate(91deg) brightness(90%) contrast(85%);
}

.red {
    filter: invert(16%) sepia(89%) saturate(7176%) hue-rotate(359deg) brightness(105%) contrast(115%);
}

.efect-scale:hove {
    transform: scale(1.2); 
    transition: transform .3s ease-in-out;
}

.modal {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;

    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, .7);
}

.contain-iframe {
    display: flex;
    position: relative;
}

.button-close {
    width: 50px;
    border: none;
    background-color: transparent;
    filter: invert(16%) sepia(61%) saturate(7060%) hue-rotate(356deg) brightness(98%) contrast(116%);

    position: absolute;
    top: -70px;
    right: -10%;
    cursor: pointer;
}

.button-close:hover {
    filter: invert(1);
}
